.div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.input {
  flex: 1;
  font-size: 1.25rem;
  border-style: none;
  padding: 0.25rem;
}

.btn {
  border-style: none;
  width: 1.75rem;
  font-size: 1.5rem;
}
