.div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input {
  flex: 1;
  font-size: 1.25rem;
  border-style: none;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fafafa;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.btn {
  border-style: none;
  width: 2rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #7c3aed;
  border-radius: 0.25rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #6d28d9;
}
